<div class="row">

  <div class="col-12" *ngIf="sectionModel">
    <h2>Description</h2>
    <p>{{ sectionModel.description }}</p>
  </div>

  <div class="col-6 mt-4">
    <div class="form-group">
      <h2 for="formControlTranslation" *ngIf="sectionModel == null">Translation Area</h2>
      <h2 for="formControlTranslation" *ngIf="sectionModel != null">Translation Template</h2>

      <textarea class="form-control" id="formControlTranslation"
            placeholder="Type your awesome translation..."
            rows="15"
            [formControl]="translationControl">
      </textarea>

      <!--
      <ngs-code-editor [theme]="'vs'" [codeModel]="codeModel" [options]="null" (valueChanged)="onCodeChanges($event)"></ngs-code-editor>
      -->
    </div>

    <button mat-flat-button class="mt-3 success-btn" (click)="evaluateTranslation()" [disabled]="loadingTranslation">
      <mat-icon matListIcon matLine>play_arrow</mat-icon> Run
    </button>
  </div>

  <div class="col-6 mt-4">
    <div class="form-group">
      <h2>Results obtained</h2>
      <textarea class="form-control mb-1" disabled rows="15" [(ngModel)]="translationResults"></textarea>
      <mat-progress-bar *ngIf="loadingTranslation" mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar *ngIf="translationResultsSuccess != null" mode="determinate" value="100"
                        [ngClass]="{ 'success-progress': translationResultsSuccess, 'error-progress': !translationResultsSuccess }"></mat-progress-bar>
    </div>

  </div>

</div>

