textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.success-progress {
  background-color: green !important;
}

.error-progress {
  background-color: red !important;
}
