<div class="row">

  <div class="col-12" *ngIf="tutorialModel">
    <h2>Description</h2>
    <p>{{ tutorialModel.description }}</p>

    <p class="mt-4 mb-4">
      <button mat-stroked-button (click)="resetTemplate()">
        <mat-icon matListIcon matLine>replay</mat-icon> Reset template</button>
      <button mat-stroked-button class="success-btn btn-space-left" (click)="solveTemplate()">
        <mat-icon matListIcon matLine>emoji_objects</mat-icon> Solution</button>
    </p>

    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0 border"
        style="background-color: white !important;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Results expected</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <pre>{{ tutorialModel.expected_result }}</pre>

      </mat-expansion-panel>
    </mat-accordion>
  
  </div>

  <div class="col-6 mt-4">
    <div class="form-group">
      <h2 for="formControlMapping" *ngIf="tutorialModel == null">Mapping Area</h2>
      <h2 for="formControlMapping" *ngIf="tutorialModel != null">Mapping Template</h2>

      <textarea class="form-control" id="formControlMapping"
            placeholder="Type your awesome mapping..."
            rows="15"
            [formControl]="mappingControl">
      </textarea>

      <!--
      <ngs-code-editor [theme]="'vs'" [codeModel]="codeModel" [options]="null" (valueChanged)="onCodeChanges($event)"></ngs-code-editor>
      -->
    </div>

  </div>

  <div class="col-6 mt-4">
    <div class="form-group">
      <h2>Results obtained</h2>
      <textarea class="form-control mb-1" disabled rows="15" [(ngModel)]="mappingResults"></textarea>
      
    </div>

  </div>

  <div class="col-12 mt-3">
    <mat-progress-bar *ngIf="loadingMapping" style="height: 5px;" mode="indeterminate"></mat-progress-bar>

    <mat-progress-bar *ngIf="mappingResultsSuccess != null" 
        [ngClass]="{'success-progress' : mappingResultsSuccess, 'error-progress': !mappingResultsSuccess }"
        mode="determinate" [value]="100"></mat-progress-bar>

    
    <a mat-flat-button class="mt-4 success-btn" (click)="evaluateMapping()" [disabled]="loadingMapping">
      <mat-icon matListIcon matLine>play_arrow</mat-icon> Run
    </a>
  </div>


 


</div>

