.component-builder {
    background-color: #e91e63;
    color: white;
}

.component-handler {
    background-color:  #1565c0;
    color: white;
}

.component-provider {
    background-color:  #ffca28;
    color: black;
}


.component-action {
    background-color:  #7b1fa2;
    color: white;
}

.component-function {
    background-color:  #5d4037;
    color: white;
}

.component-unit {
    background-color:  #e91e63;
    color: white;
}




.header-card {
    padding: 15px;
    font-size: 13px;
    border-radius: 5px 5px 0px 0px;
}

.mat-card {
    padding: 0;
}

.mat-card-content {
    padding: 15px;
}