<div class="container-fluid">

  <div class="row pt-3 pb-3 mb-3 border-bottom" style="background-color: white">
    <div class="col-7">
      <h2 style="display: table-cell; vertical-align: middle;">Components installed</h2>
    </div>
    <div class="col-5" style="text-align: right">
      <button mat-flat-button class="success-btn" style="margin-right: 20px" (click)="create()">
        <mat-icon matListIcon matLine>add</mat-icon> Add new component
      </button>
      <button mat-flat-button class="info-btn" (click)="search()">
        <mat-icon matListIcon matLine>refresh</mat-icon> Refresh
      </button>
    </div>
  </div>


  <div class="row">

    <div class="col-4 mb-3" *ngFor="let component of componentsInstalled" (mouseover)="hover = component.clazz" (mouseleave)="hover = ''">

      <mat-card [ngClass]="{'mat-elevation-z8': hover == component.clazz}">
        <mat-card-title>
          <span class="mat-title">{{ component.name | titlecase }}</span>
        </mat-card-title>

        <mat-card-content class="mt-3">

          <div class="row">
            <div class="col-8 col-xs-12 mb-3 text-wrap">
              <span class="mat-card-subtitle">Class</span>
              <span>{{ component.clazz }}</span>
            </div>
            <div class="col-4 col-xs-12 mb-3 text-wrap">
              <span class="mat-card-subtitle">Type</span>
              <span>{{ component.type }}</span>
            </div>
            <div class="col-12">
              <span class="mat-card-subtitle">Source</span>
              <a matLine>{{ component.source }}</a>
            </div>
          </div>

        </mat-card-content>

        <mat-card-footer></mat-card-footer>
      </mat-card>

    </div>



    <div class="row" *ngIf="error">
      <div class="col-12">

        <h2 class="mat-title text-danger">Error</h2>

        <pre class="text-wrap alert-danger rounded p-2">{{ error }}</pre>
      </div>
    </div>


    <!--

    <div class="col-12" *ngIf="error">
      <mat-card>
        <mat-card-title>
          <span class="mat-title text-danger">Error</span>
        </mat-card-title>

        <mat-card-content class="mt-3">

          <h3>{{ error }}</h3>

        </mat-card-content>
      </mat-card>

    </div>
-->

  </div>

</div>
