

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      style="background-color: #34515e; color: white">
<!-- #2F4050 -->
    <mat-toolbar>
      <img class="img-fluid mt-5 rounded mx-auto d-block" style="height: 60px" src="assets/img/helio.png" />
    </mat-toolbar>

    <mat-nav-list class="mt-5">

      <mat-list-item [ngClass]="{'item-selected': sectionTitle === 'Home', 'item-menu': sectionTitle != 'Home' }">
        <mat-icon matListIcon>home</mat-icon>
        <a style="margin-left: 10px" routerLink="/home" (click)="drawer.mode == 'over' ? drawer.close() : ''">Home</a>
      </mat-list-item>

      <mat-list-item *ngIf="displayAllMenuOptions" [ngClass]="{'item-selected': sectionTitle === 'Marketplace', 'item-menu': sectionTitle != 'Marketplace' }">
        <mat-icon matListIcon>storefront</mat-icon>
        <a style="margin-left: 10px" routerLink="/marketplace" (click)="drawer.mode == 'over' ? drawer.close() : ''">Marketplace</a>
      </mat-list-item>

      <mat-expansion-panel *ngIf="displayAllMenuOptions" class="mat-elevation-z0 item-selected" style="background-color: #34515e; color: white" dense>
        <mat-expansion-panel-header>
          <mat-panel-title [ngClass]="{'item-menu': true, 'mat-list-item-content': true}">
              <mat-icon matListIcon>insert_drive_file</mat-icon>
              <span style="margin-left: 10px">Translations</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list style="background-color: white" class="rounded">
          <mat-list-item [ngClass]="{'child-item-selected': sectionTitle === 'Translation list', 'child-item-menu': sectionTitle != 'Translation list' }">
            <a matLine routerLink="/translations" (click)="drawer.mode == 'over' ? drawer.close() : ''">List</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-list-item [ngClass]="{'item-selected': sectionTitle === 'Playground', 'item-menu': sectionTitle != 'Playground' }">
        <mat-icon matListIcon>science</mat-icon>
        <a style="margin-left: 10px" routerLink="/playground" (click)="drawer.mode == 'over' ? drawer.close() : ''">Playground</a>
      </mat-list-item>

      <mat-list-item [ngClass]="{'item-selected': sectionTitle === 'Tour', 'item-menu': sectionTitle != 'Tour' }">
        <mat-icon matListIcon>science</mat-icon>
        <a style="margin-left: 10px" routerLink="/tour" (click)="drawer.mode == 'over' ? drawer.close() : ''">Tour</a>
      </mat-list-item>

    </mat-nav-list>

    <div class="footer-container"><app-footer></app-footer></div>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar style="background-color: #209CEE; color: white" *ngIf="drawer.mode == 'over'">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ sectionTitle }}</span>
      <span class="example-spacer"></span>

    </mat-toolbar>

    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
