<div class="container-fluid">


<div class="row pt-3 pb-3 mb-3 border-bottom" style="background-color: white">
  <div class="col-7">
    <h2 style="display: table-cell; vertical-align: middle;">Translation list</h2>
  </div>
  <div class="col-5" style="text-align: right">
    <button mat-flat-button class="success-btn" style="margin-right: 20px" (click)="create()">
      <mat-icon matListIcon matLine>add</mat-icon> New translation
    </button>
    <button mat-flat-button class="info-btn" (click)="search()">
      <mat-icon matListIcon matLine>refresh</mat-icon> Refresh
    </button>
  </div>
</div>

  <div class="row" *ngIf="!error && data">
    <div class="col-12 border">
        <app-table [columns]="columns" [data]="data" (rowClick)="rowSelected($event)" *ngIf="data"></app-table>
    </div>
  </div>


  <div class="row" *ngIf="error">
    <div class="col-12">

      <h2 class="mat-title text-danger">Error</h2>

      <pre class="text-wrap alert-danger rounded p-2">{{ error }}</pre>
    </div>
  </div>


</div>
